/* Everything in here is a comment code */

body
{
    background-color: hotpink;
    background-image: url("img/yee.jpg");
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}
h4
{
    color: darkmagenta;
}
/* Style a specific section that has an ID */
#textEnhance
{
    color: mediumpurple;
    background-image: linear-gradient(hotpink, purple);
}